body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.header{
    background: rgba(229, 84, 115, 0.10);
    height: 830px;
    flex-shrink: 0;
}
.first{
    display: flex;
    justify-content: space-between;
    padding: 80px 180px 200px 220px;
}
.title{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 608px;
    margin-bottom: 30px;
}
.description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    width: 634px;
}
.primary{
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 20px 43px;
    color: #FFF;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s,transform 0.25s;
}
button:hover{
    background-color: #dd4c6c;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
}
.flower{
    width: 535px;
    height: 750px;
    flex-shrink: 0;
}
.about{
    text-align: center;
    margin-top: 170px;   
}
.about-title{
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: -5px;
}
.about-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.image-container{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 80px;
}
.A{
    width: 380px;
    height: 480px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.B{
    width: 380px;
    height: 480px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.C{
    width: 380px;
    height: 480px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);

}
.aa{
    padding: 51.5px 20px 0px 30px;
}
.bb{
    padding: 70px 20px 0px 20px;
}
.cc{  
    padding: 9px 0px 0px 30px;
}
.names{
    display: flex;
    gap: 320px;
    justify-content: center;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px; /* 145.833% */
    text-decoration-line: underline;

}
.delivery-container{
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    text-align: center;
    margin-top: 100px;
    flex-shrink: 0;
    margin-left: 345px;
    margin-right: 345px;
}
.mid{
    padding: 50px; 
    
}
.delivery-description{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px; /* 145.833% */
}
.signup{
    display: flex;
    justify-content: space-between;
    padding: 130px 200px 100px 400px;  
    gap: 80px; 
    text-align: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 120px;
    margin-bottom: 120px;
    height: 280px;
    flex-shrink: 0;
}
.signup-title{
    color: #272727;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.signup-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    width: 594px;
}
.pink{
    color: #E55473;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.dd{
    width: 280px;
    height: 380px;
    flex-shrink: 0;
    align-items: center;
    margin-top: -80px;
    margin-right: 200px;
}
.insta{
    align-items: center;
}
.insta-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.insta-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-top: -30px;
    padding: 0px 600px;
}
.collection{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.subscribe{
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
    height: 300px;
    padding: 100px 100px 80px 100px;
    border-radius: 8px;
    background: url("Flower Asset/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-position: center;
}
.subscribe-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}
.subcribe-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-top: -25px;
    margin-bottom: 50px;
}
#email{
    border: none;
    width: 700px;
    height: 57px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
}
.footer{
    background: #111010;
    align-items: center;
    text-align: center;
    height: 250px;
    padding: 100px 100px 80px 100px;
}
.footer-title{
    color: #FFF;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin: -30px 600px 0px 600px;
}
.copyright{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
